[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-grpc = "*"
grpcio = "*"
grpcio-tools = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-dotenv = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
